langchain
langchain-community
langchain-core
langchain-groq
langgraph
langchainhub
sentence-transformers
faiss-cpu
rank-bm25
duckduckgo-search
pypdf
pandas
flask
python-dotenv
tiktoken
unstructured
rapidfuzz
ipykernel